.header {
  position: fixed;
  z-index: 2;
  padding: 3rem 4rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__nav {
    ul {
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    li {
      margin: 0;
      margin-left: 2rem;
    }

    a {
      font-size: 2rem;
      color: white;
    }
  }
}

.logo {
  font-family: "Vitruvian Man";
  font-size: 8rem;
  color: white;
  text-decoration: none;
  font-weight: 400;
}